*.swp
*~
scripts/config.txt
scripts/interfaces
scripts/wpa_supplicant.conf
# Do not track the cert files by default to prevent chances of anyone slipping real certs here
recipes-edge/edge-core/files/mbed_cloud_dev_credentials.c
recipes-edge/edge-core/files/update_default_resources.c
