[Unit]
Description=Edge-terminal restarter

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart edge-terminal.service

[Install]
WantedBy=multi-user.target
