[Unit]
Description=edge terminal for remote terminals in Izuma cloud
Wants=edge-proxy.service
After=edge-proxy.service

[Service]
Restart=always
RestartSec=5s
Environment="TERM=xterm-256color"
ExecCondition=sh -c '[ -f EDGE_DATA/edge_gw_config/identity.json ]'
ExecStart=EDGE_BIN/edge-terminal -config=EDGE_ETC/edge-terminal/config.json

[Install]
WantedBy=multi-user.target