[Unit]
Description=edge-resource-manager: Config manager
Wants=edge-proxy.service
After=edge-proxy.service

[Service]
Restart=always
RestartSec=5s
ExecCondition=sh -c '[ -f EDGE_DATA/edge_gw_config/identity.json ]'
ExecStartPre=mkdir -p EDGE_DATA/etc/
ExecStart=env GODEBUG=madvdontneed=1 EDGE_BIN/edge-resource-manager -config EDGE_CONFIG/edge-resource-manager-config.yaml

[Install]
RequiredBy=multi-user.target
